body {

    background-image: url(kepek/1752590_stock-photo-map-of-the-world-grunge.jpg);

    background-size: cover;

    background-repeat: repeat;

    

}

h3{
    color: red;
    
    text-align: left;
}

h1 {

text-align: center;

font-family: 'Times New Roman', Times, serif;

color:rgb(148, 245, 119);

font-weight: bold;



}

img {

    width: 100%;

}

.vizek {

    border: solid 7px red;

    padding: 5px;

    margin: 10px;

    text-decoration: none;

    background-color:aqua;

    font-family:Arial, Helvetica, sans-serif;

    text-align: justify;

    color:green;

    text-align: center;

}

.tarolo {

    display: grid; 

    grid-template-columns: 1fr 1fr 1fr 1fr;

}

@media screen and (max-width:700px) {

    .tarolo {

        display: grid;

        grid-template-columns:  1fr;

    }

}

p {

    text-align: justify;

    font-weight: bold;

    color: red;

}
 